.header{
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:100;

  background-color:white;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(228,228,228);

  height:55px;
  display:flex;
  flex-direction:row;
}
.left-section{
  display:flex;
  align-items:center;
}
.middle-section{
  display:flex;
  align-items:center;
  flex:1;
  margin-left:70px;
  margin-right:30px;
  max-width:500px;
}
.hamburger-menu{
  height:24px;
  margin-left:24px;
  margin-right:24px;
}
.youtube-logo{
  height:20px;
}
.search-button{
  height:40px;
  width:66px;
  background-color:rgb(240,240,240);
  border:1px solid rgb(192,192,192);
  margin-left:-1px;
  margin-right:10px;
}
.search-button, .voice-search-button, .upload-icon-container, .youtube-apps-icon-container, .notifications-icon-container{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
.search-button .tooltip, .voice-search-button .tooltip, .upload-icon-container .tooltip, .youtube-apps-icon-container .tooltip, .notifications-icon-container .tooltip{
  position:absolute;
  background-color:gray;
  color:white;
  padding:4px 8px;
  border-radius:2px;
  font-size:12px;
  bottom:-32px;
  opacity:0;
  pointer-events:none;
  white-space:nowrap;
  transition:opacity 0.1s;
  font-family:Roboto, Arial;
}
.search-button:hover .tooltip,.voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip, .youtube-apps-icon-container:hover .tooltip, .notifications-icon-container:hover .tooltip{
  opacity:1;
}

.voice-search-button{
  height:40px;
  width:40px;
  border-radius:28px;
  border:none;
  background-color:rgb(240,240,240);
}
.search-bar{
  flex:1;
  height:36px;
  padding-left:10px;
  font-size:16px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(192,192,192);
  border-radius:2px;
  box-shadow:inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width:0;
}
.search-bar::placeholder{
  font-family:Roboto,Arial;
  font-size:16px;
}
.search-icon{
  margin-top:4px;
  height:25px;
}
.voice-search-icon{
  height:24px;
}
.right-section{
  width:180px;
  margin-right:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-shrink:0;
}
.upload-icon{
  height:24px;
}
.youtube-apps-icon{
  height:24px;
}
.notifications-icon-container{
  position:relative;
}
.notifications-icon{
  height:24px;
}
.notifications-count{
  position:absolute;
  top:-2px;
  right:-5px;
  background-color:rgb(201, 0, 0);
  color:white;
  font-family:Roboto,Arial;
  font-size:11px;
  padding:2px 6px;
  border-radius:10px;
}
.current-user-icon{
  height:32px;
  border-radius:16px;
}