.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color:white;
  width:72px;
  z-index:200;
  padding-top:5px;
}
.sidebar-link{
  display:flex;
  gap:4px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:74px; 
  cursor:link;
}
.sidebar-link img{
  height:24px;
}
.sidebar-link div{
  font-family:Roboto, Arial;
  font-size:10px;
}
.sidebar-link:hover{
  background-color:rgb(235,235,235);
}
@media (min-width:1200px){
  .sidebar{
    width:180px;
  }
  .sidebar-link{
    padding-left:10px;
    flex-direction:row;
    justify-content:flex-start;
    gap:15px;
  }
  body{
    padding-left:204px;
  }
  .sidebar-link img{
    height:34px;
  }
  .sidebar-link div{
    font-size:16px;
  }
}