
.thumbnail{
  width:100%;
}

.video-preview{
  width:100%;
}
.video-title{
  margin-bottom:10px;
  font-size:14px;
  font-weight:500;
  line-height:15px;
}
.channel-picture{
  display:inline-block;
  width:50px;
  vertical-align: top;
}
.profile-picture{
  width:36px;
  border-radius:20px;
}
.video-info{
  display:inline-block;
  width:200px;
}
.thumbnail-row{
  margin-bottom:8px;
  position:relative;
}
.video-author,.video-stats{
  font-size:12px;
  color:rgb(96,96,96)
}
.video-author{
  margin-bottom:4px;
}
.video-grid{
  font-family:Roboto, Arial;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:20px;
  row-gap:40px;
}
@media (max-width: 923px) { /*upto 750px*/
  .video-grid{
    grid-template-columns:1fr 1fr;
  }
}
@media (min-width: 924px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px){/*from 1000px*/
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title{
    font-size:16px;
    line-height:24px;
  }
  .video-author, .video-stats{
    font-size:14px;
  }
}
.video-time{
  font-size:12px;
  font-weight:500;
  padding:4px;
  border-radius:2px;
  background-color:black;
  color:white;
  position:absolute;
  bottom:8px;
  right:5px;
}
.channel-tooltip{
  display:inline-block;
  position:relative;
}
.channel-box{
  position:absolute;
  background-color:white;
  padding:12px;
  border-radius:3px;
  display:flex;
  gap:7px;
  align-items:center;
  box-shadow:0 0 5px gray;
  opacity:0;
  pointer-events:none;
  transition: opacity 0.15s ease;
  white-space: nowrap;
}
.channel-tooltip-pic{
  width:55px;
  height:55px;
  border-radius:27px;
}
.channel-tooltip-name{
  font-weight:bold;
  font-size:16px;
  margin-bottom:5px;
}
.channel-tooltip-subs{
  color:rgb(95, 91, 91);
  font-size:12px;
}
.channel-tooltip:hover .channel-box{
  opacity:1;
  pointer-events:auto;
}